---
import Layout from '~/layouts/PageLayout.astro';

import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '~/components/widgets/Hero.astro';
import Carousel from '~/components/widgets/Carousel.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { registerStoryblokBridge } from '@storyblok/js';

const metadata = {
  title: 'Mount Zion United Church of Christ China Grove, North Carolina',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    
    image={{ src: 'https://a-us.storyblok.com/f/1017237/1024x576/5ad3562691/buildingc.png',
             alt: 'Building on Faith' }}
  >
    <Fragment slot="title">
      Mount Zion United Church of Christ <span class="hidden xl:inline"></span><br>
      <span class="text-accent dark:text-white highlight"> China Grove, NC </span>
    </Fragment>
    
    <!-- <StoryblokComponent blok="{story.content}" /> -->

    <Fragment slot="subtitle">
       We are a family oriented church located in China Grove. If you’re looking for a place to call home, please come join us one Sunday morning or at one of our community events.  Maybe you’ll find that Mount Zion is the family you’ve been looking for.
    </Fragment>
    
  </Hero>

  <Features
    id="features"
    tagline="Features"
    title="Welcome to Mount Zion"
    subtitle="You are always welcome at Mount Zion United Church of Christ"
    items={[
      {
        title: 'Worship',
        description:
          'If you’re looking for a church to call your family, we hope you will check Mount Zion out. ',
        icon: 'tabler:building-church',
      },
      {
        title: 'Preschool',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:cross',
      },
      {
        title: 'Comments from Pastor Jim',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:bible',
      },
      {
        title: 'Coming Events',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:calendar',
      },
      {
        title: 'Outreach',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:bible',
      },
      {
        title: 'Mission',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bible',
      },
    ]}
  />

  <!-- Content Widget **************** -->

</Layout>
