---
import Layout from '~/layouts/PageLayout.astro';
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { registerStoryblokBridge } from '@storyblok/js';
import 'blaze-slider/dist/blaze.css';
import '~/assets/styles/slide.css';
const metadata = {
  title: 'Mount Zion United Church of Christ China Grove, North Carolina',
  ignoreTitleTemplate: true,
};
---
<Layout metadata={metadata}>

  <!-- Hero Widget ******************* -->


  <Hero>


  image={{ src: 'https://a-us.storyblok.com/f/1017237/1024x576/5ad3562691/buildingc.png',
             alt: 'Building on Faith' }} 
  

    <Fragment slot="title">
      Mount Zion United Church of Christ <span class="hidden xl:inline"></span><br>
      <span class="text-accent dark:text-white highlight"> China Grove, NC </span>
    </Fragment>
    

    <Fragment slot="subtitle">
       We are a family oriented church located in China Grove. If you’re looking for a place to call home, please come join us one Sunday morning or at one of our community events.  Maybe you’ll find that Mount Zion is the family you’ve been looking for.
    </Fragment>
    <Fragment slot="content">

      <script>
         import BlazeSlider from "blaze-slider"
         import 'blaze-slider/dist/blaze.css';
         const el = document.querySelector('.blaze-slider');
         import '~/assets/styles/slide.css';
         new BlazeSlider(el,{
             all: {
                  enableAutoplay: true,
                  autoplayInterval: 2000,
                  transitionDuration: 300,
                   slidesToShow: 1,
                   },
                    '(max-width: 1600px)': {
                    slidesToShow: 1,
                   },
                  })
      </script>


      <div class="blaze-slider">
        <div class="blaze-container">
          <div class="blaze-track-container">
            <div class="blaze-track">
              <div><img src='https://a-us.storyblok.com/f/1017237/1632x1056/d7f16bf4bd/buildingcl.png'></div>
              <div><img src='https://a-us.storyblok.com/f/1017237/1632x1056/c5730d8531/joyclub.png'></div>
              <div><img src='https://a-us.storyblok.com/f/1017237/1632x1056/4f01825ede/mvine-3.jpg'></div>
              <!-- <div><img src='https://a-us.storyblok.com/f/1017237/1632x1056/9a4b6feb51/outdoor-large.jpg'></div> -->
            </div>
          </div>

          <div class="controls">
            <button class="blaze-prev">prev</button>
            <div class="blaze-pagination"></div>
            <button class="blaze-next">next</button>
          </div>
        </div>
      </div>

    </Fragment>
    
  </Hero>

  <Features
    id="features"
    tagline="Features"
    title="Welcome to Mount Zion"
    subtitle="You are always welcome at Mount Zion United Church of Christ"
    items={[
      {
        title: 'Worship',
        description:
          'If you’re looking for a church to call your family, we hope you will check Mount Zion out.',
        icon: 'tabler:building-church',
      },
      {
        title: 'Preschool',
        description:
          'We have an active preschool program for 2 3 and 4 year olds',
        icon: 'tabler:cross',
      },
      {
        title: 'Comments from Pastor Jim',
        description:
          'May God teach all of us to be good sheep. May MTZ be a flock of people who know what it means to let the Good Shepherd help us. Heal us. Make us whole.',
        icon: 'tabler:bible',
      },
      {
        title: 'Coming Events',
        description:
          'Outdoor Worship - June 2, VBS - June 20 - 24',
        icon: 'tabler:calendar',
      },
      {
        title: 'Outreach',
        description:
          "We support numerous organziations and event in our community",
        icon: 'tabler:bible',
      },
      {
        title: 'Mission',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bible',
      },
    ]}
  />

</Layout> -->
